<h1>{{ arrayText.title_page|trans }}</h1>
    <div class="legal-notice">
        <p>{{ arrayText.p_intro|trans }} <a href="{{ arrayText.web_url }}">{{ arrayText.name|trans }}</a>{{ arrayText.p_intro_end|trans }}</p>
        <h3>{{ arrayText.editor_site_title|trans }}</h3>
        <p>{{ arrayText.editor_name|trans }}</p>
        <p>{{ arrayText.label_publishing_manager|trans }}{{ arrayText.name_publishing_manager|trans }}</p>
        <p>{{ arrayText.label_email_editor|trans }}{{ arrayText.email_editor|trans }}</p>
        <p>{{ arrayText.label_website|trans }}<a href="{{ arrayText.web_url }}">{{ arrayText.editor_website|trans }}</a></p>
        <h3>{{ arrayText.website_hosting_title|trans }}</h3>
        <p>{{ arrayText.label_host|trans }}{{ arrayText.host_address|trans }}</p>
        <p>{{ arrayText.label_website|trans }}{{ arrayText.host_website|trans }}</p>
        <h3>{{ arrayText.development_title|trans }}</h3>
        <p>{{ arrayText.developer_name|trans }}</p>
        <p>{{ arrayText.label_website|trans }}<a href="{{ arrayText.web_url }}">{{ arrayText.developer_website|trans }}</a></p>
        <h3>{{ arrayText.terms_title|trans }}</h3>
        <p>{{ arrayText.p_terms_start|trans }}<a href="{{ arrayText.web_url }}">{{ arrayText.name|trans }}</a>{{ arrayText.p_terms_end|trans }}</p>
        <h3>{{ arrayText.hyperlinks_title|trans }} </h3>
        <p>{{ arrayText.p_hyperlinks|trans }}</p>
        <h3>{{ arrayText.services_provided_title|trans }}</h3>
        <p>{{ arrayText.p_services_provided_start|trans }}<a href="{{ arrayText.web_url }}">{{ arrayText.name|trans }}</a>{{ arrayText.p_services_provided_end|trans }}</p>
        <h3>{{ arrayText.intellectual_property_title|trans }}</h3>
        <p>{{ arrayText.p_intellectual_property|trans }}</p>
        <h3>{{ arrayText.disputes_title|trans }}</h3>
        <p>{{ arrayText.p_disputes|trans }}</p>
        <h3>{{ arrayText.gpdr_title|trans }}</h3>
        <p>{{ arrayText.p_gpdr_start|trans }}<a href="{{ arrayText.web_url }}">{{ arrayText.name|trans }}</a>{{ arrayText.p_gpdr_end|trans }}</p>
            <span class="date-legal-notice">{{ arrayText.date_legal_notice|trans }}</span>
    </div>